$primary_colour: (
  primary: #4b7f52,
  secondary: #7dd181,
  accent: #96e8bc,
  mint: #b6f9c9,
  li: #c9ffe2,
);

@function primaryColour($colour) {
  @return map-get($primary_colour, $colour);
}

$secondary_colour: (
  primary: #0b2027,
  secondary: #40798c,
  accent: #70a9a1,
  grey: #cfd7c7,
  ebony: #585540,
);
@function secondaryColour($colour) {
  @return map-get($secondary_colour, $colour);
}

$colourfull: (
  primary: #f46036,
  secondary: #2e294e,
  accent: #1b998b,
  rose: #e71d36,
  june_bud: #c5d86d,
);

@function colourfull($colour) {
  @return map-get($colourfull, $colour);
}

$lavender: (
  primary: #dfd9e2,
  secondary: #c3acce,
  accent: #89909f,
  steel: #538083,
  viridian: #2a7f62,
);

@function lavender($colour) {
  @return map-get($lavender, $colour);
}
