@use "./scss/partials/header";
@use "./scss/partials/footer";
@use "./scss/partials/broilerplate";
@use "./scss/partials/container";
@use "./scss/partials/abstracts/colours" as c;
@use "./scss/partials/brakebpoints/mediaQueries";

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.main__content--box {
  border: 1px solid black;
  width: 25em;
  height: 5em;
  margin: 0.75em;
  text-align: center;
  box-shadow: 0 4px 8px -4px lightblue;
  background-color: c.primaryColour(mint);
}
