@use "sass:map";

$breakpoints: (
  small: 40em,
  medium: 65em,
  large: 90em,
);

@mixin min_width($key) {
  $size: map.get($breakpoints, $key);
  @media (min-width: $size) {
    @content;
  }
}

@mixin max_width($key) {
  $size: map.get($breakpoints, $key);
  @media (max-width: $size) {
    @content;
  }
}
