@use "./partials/abstracts/colours" as c;

.create_post_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
}

.postTitle {
  color: c.lavender(viridian);
  .postTitleInput {
    color: white;
  }
}

.hidden {
  display: none;
}

.postText {
  margin: 1em;
  color: c.lavender(viridian);
}

.postTextArea {
  display: block;
  padding: 2em;
  border-radius: 8px;
  width: 100%;
}

.flex_container {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

.postBtn {
  justify-self: center;
  text-transform: capitalize;
  border-radius: 8px;
}

form {
  border: none;
}
