@use "./partials/brakepoints/index" as breakePoints;
@use "./partials/abstracts/colours" as c;
@use "./partials/broilerplate";

.container__landingPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  @include breakePoints.min_width(medium) {
    flex-direction: row;
  }
  max-width: 1200px;
  margin: 15em auto;
  padding: 0.5em;
}

.flexBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid c.colourfull(june_bud);
  height: 15em;
  @include breakePoints.min_width(medium) {
    flex: 1 0 auto;
  }
}
.action--box {
  flex: 1 0 auto;
  color: c.colourfull(primary);
}

.text {
  color: c.colourfull(accent);
}

.headline_container {
  max-width: 500px;
  margin: auto;
  margin-top: 10em;
}

.headline {
  color: c.colourfull(primary);
  font-size: 3rem;
}
