@use "./partials/abstracts/colours" as c;

.form__container{
  max-width: 500px;
  margin: 6em auto;
}
.login-h1{
  color: c.primaryColour(li);
}
button {
  background-color: c.lavender(viridian);
  width: 100%;
  color: c.lavender(secondary);
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}
form {
  border: 3px solid #f1f1f1;
  padding: 10px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid green;
  box-sizing: border-box;
}
button:hover {
  opacity: 0.7;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin: 10px 5px;
}

.container {
  padding: 25px;
  background-color: lightblue;
}

.hidden {
  display: none;
}

.passwordError {
  color: red;
}
