@use "./partials/abstracts/colours" as c;
@use "./partials/broilerplate";
@use "./partials/brakepoints/mediaQueries" as breakePoints;

.postMain {
  padding: 2em;
}
.postContainer {
  @include breakePoints.min_width(medium) {
    grid-template-columns: 1fr 1fr;
  }
  @include breakePoints.max_width(small) {
    grid-template-columns: 1fr;
  }
  display: grid;
  max-width: 1200px;
  padding: 2em;
  margin: 8em auto;
  box-shadow: 0 8px 19px -8px c.colourfull(primary);
  border-radius: 4px;
}

.PostContainer--headline {
  font-weight: 400;
  & .headline--text {
    color: c.colourfull(primary);
  }
}

.postContainer--contentContainer {
  overflow: hidden;
  font-size: 12px;
  position: relative;
  margin: 16px;
  padding: 0.5em;
  box-shadow: 0 6px 8px -4px c.colourfull(primary);
  background-color: c.lavender(steel);
  border-radius: 8px;
}

.postContainer--insert {
  background-color: white;
}
.postContainer--flex {
  display: flex;
  .flex--1 {
    flex: 1;
    width: auto;
    padding: 0.5em;
    justify-content: center;
    background-color: c.lavender(steel);
  }
}
.postContainer--author {
  color: c.secondaryColour(accent);
}

.postContainer--title {
  color: c.colourfull(accent);
  font-size: clamp(1.5rem, 3vw, 3rem);
}

.time {
  margin: 0.5em;
  background-color: c.lavender(steel);
}
.postContainer--body {
  padding: 0.5em;
  background-color: c.lavender(steel);
  .postContainer--text {
    font-size: clamp(1rem, 0.2vw, 2rem);
    background-color: c.lavender(steel);
    color: c.secondaryColour(grey);
  }
}
.edit-btn {
  width: auto;
  font-size: 2rem;
}
.postContainer--edit {
  grid-template-columns: 1fr;
  display: grid;
  max-width: 400px;
  padding: 2em;
  margin: 8em auto;
  box-shadow: 0 8px 19px -8px c.colourfull(primary);
  border-radius: 4px;
}

.flex-col {
  flex-direction: row;
}
.form-text{
  color: c.secondaryColour(accent);
}