@use "./partials/abstracts/colours" as c;

.posts__main {
  padding: 2em;
}
.content__container {
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
  max-width: 800px;
  padding: 2em;
  margin: 8em auto;
  box-shadow: 0 8px 19px -8px c.colourfull(primary);
  border-radius: 4px;
}

.content_container--post {
  overflow: hidden;
  flex: 0 1 15em;
  font-size: 12px;
  position: relative;
  margin: 16px;
  padding: 0.5em;
  box-shadow: 0 6px 8px -4px c.colourfull(primary);
  background-color: c.lavender(steel);
  border-radius: 8px;
}

.post__title{
  color: c.primaryColour(accent);
}

.post__text {
  color: c.primaryColour(li);
  width: auto;
}
