@use "./partials/header";
@use "./partials/footer";
@use "./partials/broilerplate";
@use "./partials/abstracts/colours" as c;
@use "./partials/brakepoints/index" as mq;
@use "./index";
@use "./posts";

.main {
  width: 100%;
}
// TODO evalute if you should move main__content
.main__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 8em auto;
  box-shadow: 0 8px 19px -8px c.colourfull(primary);
  border-radius: 8px;
}

.main__content--box {
  display: flex;
  flex-direction: column;
  flex: 0 1 20em;
  justify-content: space-between;
  min-height: 10em;
  overflow: hidden;
  margin: 16px;
  padding: 0.5em;
  box-shadow: 0 6px 8px -4px white;
  background-color: c.colourfull(accent);
  border-radius: 8px;
}

.main__content--text {
  color: c.secondaryColour(grey);
  width: 100%;
}

.btn-container {
  margin-bottom: 0;
}

.btn {
  flex: 1 0 auto;
  min-width: 5em;
  color: c.colourfull(secondary);
  background-color: c.colourfull(accent);
  border-style: none;
  border-bottom: 1px solid c.colourfull(primary);
  box-shadow: 0 4px 4px -4px white;
  cursor: pointer;
}
