@use "./partials/header";
@use "./partials/footer";
@use "./partials/broilerplate";
@use "./partials/container";
@use "./partials/abstracts/colours" as c;
@use "./partials/brakepoints/mediaQueries";
@use "./partials/landingPage";

.main {
  width: 100%;
}
// TODO evalute if you should move main__content
.main__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 8em auto;
  box-shadow: 0 8px 19px -8px white;
  border-radius: 8px;
}

.main__content--box {
  display: flex;
  flex-direction: column;
  flex: 0 1 20em;
  justify-content: space-between;
  min-height: 10em;
  overflow: hidden;
  margin: 16px;
  padding: 0.5em;
  box-shadow: 0 6px 8px -4px white;
  background-color: c.colourfull(accent);
  border-radius: 8px;
}

.main__content--text {
  color: white;
  width: 100%;
}

.btn {
  justify-self: baseline;
  flex: 0 1 3em;
  color: c.lavender(primary);
  background-color: c.colourfull(accent);
  border-style: none;
  border-bottom: 1px solid c.colourfull(primary);
  box-shadow: 0 4px 4px -4px white;
  cursor: pointer;
}
