@use "./abstracts/colours" as c;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  font-family: verdana, arial, helvetica;
  margin: 0 auto;
  padding: 0;
  background-color: c.secondaryColour(primary);
}

h1,
h2 {
  color: c.primaryColour(primary);
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}
.log__in {
  color: c.secondaryColour(accent);
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}
.form__container,
#emailError,
#emailNotValid {
  color: c.colourfull(accent);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}
