@use "./abstracts/colours" as c;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  font-family: verdana, arial, helvetica;
  margin: 0 auto;
  padding: 0;
  background-color: c.primaryColour(primary);
}
