@use "./broilerplate";

.main {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.flexBox {
  flex: 0 1 auto;
  background-color: white;
}
.sign_in {
  width: 25vw;
  background-color: blue;
}

.log_in {
  width: 25vw;
}
